<h2>სერტიფიკატის გაცემისა და პროფესიული საქმიანობის უფლებით სარგებლობის შესახებ ხელშეკრულება № [CERT-000]</h2>
<p>ქ. თბილისი | თარიღი: [რიცხვი, თვე, წელი]</p>

<p>ერთი მხრივ, შპს „საქართველოს პროფესიული სერტიფიცირების ინსტიტუტი" (ს/ნ: [კოდი]), შემდგომში წოდებული როგორც „ინსტიტუტი", წარმოდგენილი მისი დირექტორის სახით, და მეორე მხრივ, [ფიზიკური პირის სახელი, გვარი] (პ/ნ: [პირადი ნომერი]), შემდგომში წოდებული როგორც „სერტიფიცირებული პირი",</p>

<p>ვხელმძღვანელობთ რა საქართველოს მოქმედი კანონმდებლობით, მათ შორის „საქართველოს სივრცის დაგეგმარების, არქიტექტურული და სამშენებლო საქმიანობის კოდექსით" და საქართველოს მთავრობის 2024 წლის 10 აპრილის №134 დადგენილებით, ვდებთ წინამდებარე ხელშეკრულებას შემდეგზე:</p>

<h2>მუხლი 1. ხელშეკრულების საგანი</h2>

<h3>1.1.</h3>
<p>წინამდებარე ხელშეკრულება არეგულირებს მხარეთა უფლება-მოვალეობებს სერტიფიცირებული პირისთვის შესაბამისი კვალიფიკაციის დამადასტურებელი სერტიფიკატის მინიჭებისა და მისი შემდგომი გამოყენების პროცესში.</p>

<h3>1.2.</h3>
<p>ინსტიტუტი, სასერტიფიკაციო გამოცდის წარმატებით ჩაბარების საფუძველზე, ანიჭებს პირს უფლებამოსილებას, განახორციელოს პროფესიული საქმიანობა შემდეგი კვალიფიკაციით (მონიშნეთ შესაბამისი):</p>

<p>• [ ] შენობა-ნაგებობის არქიტექტორი (უფლებამოსილია დაამოწმოს არქიტექტურული პროექტი).</p>

<p>• [ ] არქიტექტურული პროექტის ექსპერტი (უფლებამოსილია განახორციელოს პროექტის ექსპერტიზა და დამოწმება).</p>

<h3>1.3.</h3>
<p>სერტიფიკატის უნიკალური ნომერია: [უნიკალური კოდი].</p>

<h2>მუხლი 2. სერტიფიკატის მოქმედების ვადა და სტატუსი</h2>

<h3>2.1.</h3>
<p>სერტიფიკატი გაიცემა 5 (ხუთი) წლის ვადით.</p>

<h3>2.2.</h3>
<p>სერტიფიკატის მოქმედების ვადის ათვლა იწყება წინამდებარე ხელშეკრულების გაფორმებისა და სერტიფიცირების საფასურის გადახდის მომენტიდან.</p>

<h3>2.3.</h3>
<p>სერტიფიკატის ვალიდობის გადამოწმება შესაძლებელია ინსტიტუტის ოფიციალურ საჯარო რეესტრში ელექტრონულ მისამართზე: gipc.org.ge.</p>

<h2>მუხლი 3. ფინანსური პირობები</h2>

<h3>3.1.</h3>
<p>სერტიფიკატის გაცემისა და 5-წლიანი ადმინისტრირების საფასური შეადგენს:</p>

<p>• შენობა-ნაგებობის არქიტექტორისთვის: 1050 (ათას ორმოცდაათი) ლარს.</p>

<p>• არქიტექტურული პროექტის ექსპერტისთვის: 1550 (ათას ხუთას ორმოცდაათი) ლარს.</p>

<h3>3.2.</h3>
<p>თანხის გადახდა წარმოებს უნაღდო ანგარიშსწორებით ინსტიტუტის საბანკო ანგარიშზე.</p>

<h3>3.3.</h3>
<p>ხელშეკრულების ვადაზე ადრე შეწყვეტის ან სერტიფიკატის გაუქმების შემთხვევაში, გადახდილი თანხა დაბრუნებას არ ექვემდებარება.</p>

<h2>მუხლი 4. სერტიფიცირებული პირის ვალდებულებები და პროფესიული სტანდარტი</h2>

<p>სერტიფიცირებული პირი იღებს ვალდებულებას:</p>

<h3>4.1. სტანდარტების დაცვა:</h3>
<p>პროფესიული საქმიანობის განხორციელებისას ზედმიწევნით დაიცვას საქართველოს კანონმდებლობით დადგენილი სამშენებლო ნორმები, ტექნიკური რეგლამენტები, წესები და სტანდარტები, რომელთა ცოდნაც დადასტურდა გამოცდის ფარგლებში.</p>

<h3>4.2. კეთილსინდისიერება და ავტორობა:</h3>
<p>არ განახორციელოს ისეთი საპროექტო დოკუმენტაციის დამოწმება (ხელმოწერა/ბეჭდის დასმა), რომელიც არ მომზადებულა უშუალოდ მის მიერ ან მისი უშუალო ხელმძღვანელობითა და ზედამხედველობით. დაუშვებელია სერტიფიკატის გამოყენება სხვა პირის მიერ შესრულებული სამუშაოს ფორმალური ლეგიტიმაციისთვის.</p>

<h3>4.3. ინფორმაციის განახლება:</h3>
<p>დაუყოვნებლივ, არაუგვიანეს 10 (ათი) კალენდარული დღისა, აცნობოს ინსტიტუტს საკონტაქტო ინფორმაციის ცვლილების ან ისეთი გარემოების წარმოშობის შესახებ, რამაც შეიძლება გავლენა იქონიოს სერტიფიკატის მოქმედებაზე.</p>

<h3>4.4. უწყვეტი განათლება:</h3>
<p>სერტიფიკატის მოქმედების პერიოდში იზრუნოს პროფესიულ განვითარებაზე და მოემზადოს შემდგომი რესერტიფიკაციისთვის.</p>

<h2>მუხლი 5. ინსტიტუტის უფლებები და ვალდებულებები</h2>

<h3>5.1. რეესტრის წარმოება:</h3>
<p>ინსტიტუტი ვალდებულია აწარმოოს და საჯაროდ ხელმისაწვდომი გახადოს სერტიფიცირებულ პირთა რეესტრი, სადაც აისახება პირის სახელი, გვარი, სერტიფიკატის ნომერი და სტატუსი.</p>

<h3>5.2. მონიტორინგი:</h3>
<p>ინსტიტუტი უფლებამოსილია, კომპეტენციის ფარგლებში, განიხილოს შემოსული საჩივრები სერტიფიცირებული პირის მიერ პროფესიული სტანდარტების შესაძლო დარღვევის თაობაზე.</p>

<h3>5.3. სერტიფიკატის შეჩერება/გაუქმება:</h3>
<p>ინსტიტუტი იტოვებს უფლებას, შეაჩეროს ან გააუქმოს სერტიფიკატი მე-6 მუხლით გათვალისწინებული საფუძვლების არსებობისას.</p>

<h2>მუხლი 6. სერტიფიკატის გაუქმების საფუძვლები</h2>

<p>სერტიფიკატი ექვემდებარება გაუქმებას, ხოლო წინამდებარე ხელშეკრულება ცალმხრივად შეწყვეტას, თუ:</p>

<h3>6.1.</h3>
<p>დადგინდა, რომ სერტიფიცირების პროცესში პირის მიერ წარდგენილი დოკუმენტაცია (დიპლომი, ცნობა სამუშაო გამოცდილების შესახებ) იყო ყალბი ან შეიცავდა არზუსტ მონაცემებს.</p>

<h3>6.2.</h3>
<p>სასამართლოს კანონიერ ძალაში შესული განაჩენით პირს აეკრძალა პროფესიული საქმიანობა ან იგი ცნობილ იქნა დამნაშავედ სამშენებლო სფეროში ჩადენილ დანაშაულზე.</p>

<h3>6.3.</h3>
<p>დადასტურდა მე-4 მუხლის 4.2 პუნქტის (ფიქტიური ავტორობა) დარღვევის ფაქტი.</p>

<h3>6.4.</h3>
<p>სერტიფიცირებულმა პირმა თავად მიმართა ინსტიტუტს სერტიფიკატის გაუქმების მოთხოვნით.</p>

<h3>6.5.</h3>
<p>გავიდა სერტიფიკატის მოქმედების 5-წლიანი ვადა და პირმა არ ან ვერ გაიარა რესერტიფიკაცია.</p>

<h2>მუხლი 7. პასუხისმგებლობის შეზღუდვა</h2>

<h3>7.1. გამიჯვნა:</h3>
<p>სერტიფიკატი ადასტურებს პირის კვალიფიკაციას და მინიმალურ კომპეტენციას, თუმცა არ წარმოადგენს გარანტიას მის მიერ შესრულებული კონკრეტული სამუშაოს უნაკლობაზე.</p>

<h3>7.2. ინსტიტუტის პასუხისმგებლობა:</h3>
<p>ინსტიტუტი არ არის პასუხისმგებელი სერტიფიცირებული პირის მიერ დაპროექტებული/დამოწმებული შენობა-ნაგებობის მდგრადობაზე, უსაფრთხოებასა ან მესამე პირებისთვის მიყენებულ ზიანზე. სრული ქონებრივი და სამართლებრივი პასუხისმგებლობა ეკისრება უშუალოდ სერტიფიცირებულ პირს (არქიტექტორს/ექსპერტს).</p>

<h2>მუხლი 8. პერსონალური მონაცემები და კონფიდენციალურობა</h2>

<h3>8.1.</h3>
<p>სერტიფიცირებული პირი თანხმობას აცხადებს, რომ მისი მონაცემები (სახელი, გვარი, პირადი ნომერი, სერტიფიკატის ნომერი, მოქმედების ვადა, გამოცდაზე მიღებული ქულა, საზოგადოებისგან მინიჭებული შეფასებები და კომენტარები) გამოქვეყნდეს საჯარო რეესტრში (gipc.org.ge) მესამე პირთათვის ინფორმაციის გადამოწმების მიზნით.</p>

<h3>8.2.</h3>
<p>ინსტიტუტი ვალდებულია დაიცვას პირის სხვა პერსონალური მონაცემები (მისამართი, საბანკო რეკვიზიტები) და არ გახადოს ისინი საჯარო, გარდა კანონით გათვალისწინებული შემთხვევებისა.</p>

<h2>მუხლი 9. დასკვნითი დებულებები</h2>

<h3>9.1.</h3>
<p>წინამდებარე ხელშეკრულება ძალაშია მხარეთა მიერ ხელმოწერის დღიდან და მოქმედებს სერტიფიკატის ვადის ამოწურვამდე ან მის გაუქმებამდე.</p>

<h3>9.2.</h3>
<p>ხელშეკრულება შედგენილია ქართულ ენაზე, თანაბარი იურიდიული ძალის მქონე 2 (ორ) ეგზემპლარად.</p>

<h3>9.3.</h3>
<p>ნებისმიერი დავა წყდება მოლაპარაკებით. შეთანხმების მიუღწევლობისას დავას განიხილავს თბილისის საქალაქო სასამართლო.</p>

<h2>მხარეთა რეკვიზიტები და ხელმოწერები:</h2>

