

<h3>მმართველი გუნდი:</h3>
<ol>
  <li>ლაშა ფოფხაძე — დირექტორი, იურიდიულ საკითხთა ხელმძღვანელი, თანადამფუძნებელი.</li>
  <li>გიორგი ბეკურაშვილი — ტექნიკური დირექტორი, თანადამფუძნებელი.</li>
  <li>ნიკოლოზ ჯიმშიტაშვილი — IT დეპარტამენტის ხელმძღვანელი, თანადამფუძნებელი.</li>
  </ol>

<h3>სასერტიფიკაციო კომიტეტი და ექსპერტთა საბჭო:</h3>
<ol>
  <li>გიორგი ლოთიშვილი — იდეის ავტორი, არქიტექტურის დოქტორი, სასერტიფიკაციო საბჭოს თავმჯდომარე.</li>
  <li>მიხეილ გიორგობიანი — საბჭოს წევრი, დარგის ექსპერტი.</li>
  <li>ლევან თუთბერიძე — საბჭოს წევრი, დარგის ექსპერტი.</li>
</ol>

<h3>ადმინისტრაცია:</h3>
<ol>
  <li>გიორგი მაჭარაშვილი — საგამოცდო პროცესის ადმინისტრატორი.</li>
</ol>

